/*Autor: Hamza Akiour (https://hamza.es)*/
/*General*/
body {
 margin: 60px 50px 50px 50px  !important;
}
/*Navigation bar*/
.navbar-design {
	border-bottom: 3px solid #CA8DF7 !important;
	font-size: 18px !important;
}

.nav.navbar-nav li a, .navbar-header a{
    color: #85ce5b !important;
}

.navbar-brand{
	font-size: 22px !important;
}
/*Navigation -> active elements*/
.navbar.navbar-design li a:hover, .navbar.navbar-design li a:active, .navbar.navbar-design li a:focus  {
    background-color: #081202 !important;
    color: #edf8e7 !important;
    font-size: 22px;
}
/*Navigation -> Buttons */
.fa {
	margin-top: 7px;
	padding:3px;
	font-size: 20px !important;
	color: #85ce5b;
}
.fa:hover {
	color: #edf8e7 !important;
    opacity: 0.8;
    margin-top: 2px;
    font-size: 25px !important;
}
